/* src/ReadinessListt.css */
.readiness-container {
    background-color: #fbeeff;
    border-radius: 8px;
    padding: 10px;
    width: 1006px;
    margin: 20px auto; /* Center the container horizontally */
    max-width: 83%; /* Ensure it doesn't exceed the screen width */
}
.readiness-header {
    font-weight: bold;
    color: #7b1fa2;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: wrap; /* Ensure it wraps on smaller screens */
}

.show-all {
    color: #7b1fa2;
    cursor: pointer;
    text-decoration: underline;
}

.readiness-list {
    margin: 0;
    padding-left: 20px;
}

.readiness-list li {
    margin-bottom: 5px;
}



/* Responsive styles */
@media (max-width: 600px) {
    .readiness-container {
        padding: 8px;
        margin: 10px auto; /* Adjust margin for smaller screens and center the container */
        width: 95%; /* Increase width for mobile view */
        max-width: none; /* Remove the max-width restriction */
    }

    .readiness-header {
        margin-bottom: 8px;
    }

    .readiness-list {
        padding-left: 15px;
    }

    .readiness-list li {
        margin-bottom: 4px;
    }
}
