
/* Base styles */
.chef-card-container {
  width: 180px;
  background-color: #fff;
  margin-bottom: 40px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.14);
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  margin: 10px 12px 20px;
  padding: 6px 5px 10px;
}

.chef-card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  margin-top: 15px;
}

.chef-card-grid .chef-card-container {
  flex: 1 0 21%;
  max-width: 180px;
}

/* Responsive styles */
@media (max-width: 800px) {
  .chef-card-grid {
    gap: 0px !important;
    padding: 0px !important;
  }

  .chef-card-container {
    margin: 0px 8px 10px !important;
    padding: 0px 0px 0px !important;
  }

  .card-body {
    padding: 3px !important;
  }
}

@media (max-width: 480px) {
  .chef-card-container {
    width: 150px;
    margin: 0px 5px 10px;
    padding: 4px 3px 8px;
  }

  .chef-card-grid .chef-card-container {
    flex: 1 0 45%;
    max-width: 150px;
  }
}

@media (max-width: 400px) {
  .chef-card-container {
    width: 140px;
    margin: 0px 4px 8px;
    padding: 3px 2px 7px;
  }

  .chef-card-grid .chef-card-container {
    flex: 1 0 48%;
    max-width: 140px;
  }
}

@media (max-width: 380px) {
  .chef-card-container {
    width: 130px;
    margin: 0px 3px 7px;
    padding: 2px 1px 6px;
  }

  .chef-card-grid .chef-card-container {
    flex: 1 0 50%;
    max-width: 130px;
  }
}

@media (max-width: 375px) {
  .chef-card-container {
    width: 120px;
    margin: 0px 2px 6px;
    padding: 2px 1px 5px;
  }

  .chef-card-grid .chef-card-container {
    flex: 1 0 52%;
    max-width: 120px;
  }
}

@media (max-width: 321px) {
  .chef-card-container {
    width: 110px;
    margin: 0px 1px 5px;
    padding: 1px 0px 4px;
  }

  .chef-card-grid .chef-card-container {
    flex: 1 0 55%;
    max-width: 110px;
  }
}
