.decCatimage {
border-radius: 5px;
height: 32%;
}
.imageContainer {
width: 32%;
border-radius: 5px;
margin: 0 0px 20px;
}
/* cat page */
.decContainer.gap-4 {
display: flex;
justify-content: space-between !important;
gap: 0 !important;
align-items: center;
}
.rightsecdecinner.decoration{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 4px;
}
.need-more-info-sec {
    margin: 35px 0 16px;
    border-top: 1px solid #efefef;
    padding: 17px 0 1px;
}
.checkoutRightImg {
    height: 270px;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
  }


@media (max-width:800px){
.decPage.decContainerSec {
width: 100% !important;
margin: 11px 0 0px !important;
padding: 0 11px 1px 8px;
}
.decPage .imageContainer {
width: 48% !important;
margin-left: 0 !important;
margin-right: 0 !important;
margin-bottom: 14px !important;
}
/* cat page */
.decCatPage .decimagecontainer {
width: 46% !important;
margin: 0 6px 16px !important;

img {
height: 160px !important;
}
}

.decCatPage .decimagecontainer p {
margin: 0 !important;
padding: 0 !important;
font-size: 12px !important;
}

.imageContainer img {
height: 100% !important;
}

.decContainer {
justify-content: center !important;
width: 100%;
}
}


@media ( max-width:480px){
.decCatPage .decimagecontainer p.pro_price {
font-size: 18px !important;
}
}



@media ( max-width:380px){
.decCatPage .decimagecontainer p.pro_price {
font-size: 17px !important;
}
.decCatPage .decimagecontainer {
width: 46% !important;
}
}

@media (max-width: 340px) {
.decCatPage .decimagecontainer p.pro_price {
font-size: 14px !important;
}
.decCatPage .decimagecontainer {
img {
    height: 130px !important;
}
}
}