@media (max-width: 800px) {
  .popup-content {
    padding: 5px !important;
  }
  .popup-body {
    padding-bottom: 20px !important;
    padding-top: 0px !important;
  }
}

@media (max-width: 480px) {
}

@media (max-width: 400px) {
  .add-more-button{
    font-size: 14px !important;
  }
}

@media (max-width: 380px) {
}

@media (max-width: 375px) {
  .popup-body h1 {
    font-size: 13px !important;
    padding: 6px 10px 0 !important;
    line-height: 20px !important;
}
}

@media (max-width: 321px) {
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 400px;
  text-align: center;
  padding: 10px;
}

.popup-header {
  display: flex;
  justify-content: flex-end;
}

.close-icon {
  cursor: pointer;
  font-size: 24px;
  color: #7d7d7d;
}

.popup-body {
  padding: 10px;
}

.popup-image {
  max-width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.popup-body h1 {
  margin-bottom: 10px;
  color: #000;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  padding: 18px 51px 0px;
  line-height: 26px;
}

.popup-body span {
  color: #9252aa;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.popup-body p {
  color: #707070;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  padding: 0 22px;
}

.add-more-button {
  width: auto;
  border-radius: 19.39px;
  background: #9252aa;
  border: 2px solid #9252aa;
  box-shadow: 0px 0px 14.009px 0px rgba(0, 0, 0, 0.34);
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  padding: 3px 27px;
}
