.headerContainer {
    background: linear-gradient(119deg, #6730B2 -20.39%, #EE7464 80.65%);
    padding: 0 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
  .headerContainerinner {
    justify-content: space-between;
    align-items: center;
    display: flex;
    max-width: 1200px;
  }
  
  .logo {
    width: 109px;
    height: 56px;
    margin: 0px;
    padding: 0px;
  }
  
  .desktopMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-bottom: 0;
  }
  
  .desktopMenuli {
    padding-right: 16px;
    position: relative;
  }
  
  .desktopMenuli1 {
    padding-right: 3px;
    position: relative;
  }
  
  .link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .linkicon {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
  }
  
  .linkicon1 {
    padding: 0 18px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    margin-left: 1px;
  }
  
  .subMenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 0 0 8px;
    min-width: 300px;
    z-index: 1;
    list-style: none;
  }
  
  .subMenuLink {
    display: block;
    color: #444;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid #2222;
  }
  
  .subMenuLink:last-child {
    border-bottom: none;
  }
  
  .icon {
    margin-right: 5px;
  }
  
  .mobileViewHeader {
    display: none;
  }
  
  .mobileMenuIcon {
    margin: 0px;
    height: 18px;
  }

  .drawer {
    width: 70%;
    background-color: #fff;
    padding: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 999;
    height: 100vh;
    transition: left 0.3s ease-in-out;
  }
  
  .drawerLink {
    border-bottom: 1px solid #efefef;
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0;
    display: block;
    cursor: pointer;
    padding: 0 0 6px 0;
  }
  
  .drawerLinklogin {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0;
    display: block;
  }
  
  